{% extends '_base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load humanize %}

{% load persian_translation_tags %}

{% block title %}

{% endblock %}

{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">{% trans 'Checkout' %}</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="{% url 'ProductListView' %}">{% trans 'Home' %}</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">{% trans 'Checkout' %}</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">{% trans 'Billing Address' %}</h4>
                    <form action="" method="POST" class="form form--checkout">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>{% trans 'First Name' %}</label>
                                <input class="form-control" type="text" name="first_name" id="billing_fname"
                                       placeholder="">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>{% trans 'Last Name' %}</label>
                                <input class="form-control" type="text" name="last_name" id="billing_lname"
                                       placeholder="">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>{% trans 'Mobile No' %}</label>
                                <input class="form-control" type="text" name="phone_number" id="billing_phone"
                                       placeholder="">
                            </div>
                            <div class="form__group col-12">
                                <label>{% trans 'Address Line' %}</label>
                                <input class="form-control" type="text" name="address" id="billing_company"
                                       placeholder="">
                            </div>
                            <div class="form__group col-12">
                                <label>{% trans 'Note' %}</label>
                                <input class="form-control" type="text" name="order_notes" id="orderNotes"
                                       placeholder="" height="100px">
                            </div>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3" type="submit">
                                {% trans 'Place Order' %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">{% trans 'Order Total' %}</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">{% trans 'Products' %}</h5>
                        {% for item in cart %}
                            <div class="d-flex justify-content-between">
                                <p>{{ item.product_obj.title }} x {{ item.quantity }}</p>
                                <p>{{ item.product_obj.price|intcomma:False|translate_number }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">{% trans 'Total' %}</h5>
                            <h5 class="font-weight-bold">{% trans '$' %}{{ cart.get_total_price|intcomma:False|translate_number }}</h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">{% trans 'Payment' %}</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio pre-select">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal">
                                <p  for="paypal">{% trans 'Zarin pal' %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->
{% endblock %}