{% extends '_base.html' %}

{% load static %}

{% load i18n %}

{% block title %}
    درباره ما
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row mt-5 ml-5 mr-5">
            <div class="col-lg-6 mt-5 pl-5 w-100">
                <h1>
                    درباره ما
                </h1>
                <p>
                    با تشکر از شما برای بازدید از صفحه "درباره ما" و علاقه‌مندی خود به محصولات دندانسازی ما. ما یک تیم متخصص از صنعت دندانسازی هستیم که به تأمین و عرضه محصولات با کیفیت و متنوع برای حفظ و بهبود سلامت دهان و دندان‌ها متعهد هستیم.
                </p>
            </div>
            <div class="col-lg-6">
                <img src="{% static 'img/aboutus.jpg' %}">
            </div>
        </div>
    </div>
{% endblock %}