{% extends '_base.html' %}

{% block title %}
    خانه
{% endblock %}

{% block content %}
    {#    {% for item in cat_menu %}#}
    {#        <a href="{% url 'product_category' item %}" class="nav-item nav-link">{{ item }}</a>#}
    {#    {% endfor %}#}

    <div class="container">
        <div class="row w-100 mt-5 mx-auto">
            <div class="col-md-3 p-1">
                <div style="text-align: center">
                    <img class="w-50 border rounded-circle img-fluid" width="100"
                         src="../../../media/product/product_cover/R_1_5XDSBKu.jpg">
                    <a href="#" class="nav-item nav-link">تست</a>
                </div>
            </div>
            <div class="col-md-3 p-1">
                <div style="text-align: center">
                    <img class="w-50 border rounded-circle img-fluid" width="100"
                         src="../../../media/product/product_cover/R_1_5XDSBKu.jpg">
                    <a href="#" class="nav-item nav-link">تست</a>
                </div>
            </div>
            <div class="col-md-3 p-1">
                <div style="text-align: center">
                    <img class="w-50 border rounded-circle img-fluid" width="100"
                         src="../../../media/product/product_cover/R_1_5XDSBKu.jpg">
                    <a href="#" class="nav-item nav-link">تست</a>
                </div>
            </div>
            <div class="col-md-3 p-1">
                <div style="text-align: center">
                    <a><img class="w-50 border rounded-circle img-fluid" width="100"
                         src="../../../media/product/product_cover/R_1_5XDSBKu.jpg">
                    <a href="#" class="nav-item nav-link">تست</a>
                </div>
            </div>
            <div class="col-md-3 p-1">
                <div style="text-align: center">
                    <img class="w-50 border rounded-circle img-fluid" width="100"
                         src="../../../media/product/product_cover/R_1_5XDSBKu.jpg">
                    <a href="#" class="nav-item nav-link">تست</a>
                </div>
            </div>
            <div class="col-md-3 p-1">
                <div style="text-align: center">
                    <img class="w-50 border rounded-circle img-fluid" width="100"
                         src="../../../media/product/product_cover/R_1_5XDSBKu.jpg">
                    <a href="#" class="nav-item nav-link">تست</a>
                </div>
            </div>
            <div class="col-md-3 p-1">
                <div style="text-align: center">
                    <img class="w-50 border rounded-circle img-fluid" width="100"
                         src="../../../media/product/product_cover/R_1_5XDSBKu.jpg">
                    <a href="#" class="nav-item nav-link">تست</a>
                </div>
            </div>
            <div class="col-md-3 p-1">
                <div style="text-align: center">
                    <img class="w-50 border rounded-circle img-fluid" width="100"
                         src="../../../media/product/product_cover/R_1_5XDSBKu.jpg">
                    <a href="#" class="nav-item nav-link">تست</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}