{% extends '_base.html' %}
{% load i18n %}

{% load static %}
{% load crispy_forms_tags %}
{% load comment_tags %}
{% load jalali_tags %}
{% load humanize %}

{% load persian_translation_tags %}

{% block title %}
    {{ product.title }}
{% endblock title %}

{% block content %}

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">{% trans 'Shop Detail' %}</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="{% url 'ProductListView' %}">{% trans 'Home' %}</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">{% trans 'Shop Detail' %} "{{ product.title }}"</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Shop Detail Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 pb-5">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner border">
                        <div class="carousel-item active">
                            {% if product.cover %}
                                <img class="w-75 h-50" src="{{ product.cover.url }}" alt="Image">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 pb-5">
                <h3 class="font-weight-semi-bold">نام محصول : {{ product.title }}</h3>
                <br>
                <h3 class="font-weight-semi-bold mb-4">قیمت محصول : {{ product.price|intcomma:False|translate_number }} تومان</h3>
                <p>دسته بندی<a href="{% url 'product_category' product.category %}">
                    : {{ product.category }}</a></p>
                <div class="d-flex align-items-center mb-4 pt-2">
                    <form action="{% url 'cart:cart_add' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="input-group quantity mr-3" style="width: 130px;">
                            <div class="input-group-btn">
                                <div class="quantity">
                                    <input type="number" class="quantity-input" name="quantity" id="qty" value="1"
                                           min="1" max="30">
                                </div>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary px-3"
                                onclick="window.location.href='cart.html'"><i class="fa fa-shopping-cart mr-1"></i>
                            {% trans 'Add to cart' %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                    <a class="nav-item nav-link active" data-toggle="tab"
                       href="#tab-pane-1">{% trans 'Description' %}</a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3">{% trans 'Reviews' %}
                        ({{ product.comments.all|only_active_comment|length }})</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <h4 class="mb-3">{% trans 'Product Description' %}</h4>
                        <p>{{ product.description }}</p>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-3">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="mb-4">{% trans 'review for' %} "{{ product.title }}"</h4>
                                {% for comment in product.comments.all|only_active_comment %}
                                    <div class="media mb-4">
                                        <div class="media-body">
                                            <h6>{{ comment.author.username }}
                                                <small> -
                                                <i>{{ comment.datetime_created|to_jalali:'%Y/%m/%d'|translate_number }}</i>
                                            </small>
                                            </h6>
                                            <p>{{ comment.body }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-md-6">
                                <h4 class="mb-4">{% trans 'Leave a review' %}</h4>
                                <small>{% trans 'Your email address will not be published. Required fields are marked *' %}</small>
                                {% if user.is_authenticated %}
                                    <form action="{% url 'comment_create' product.id %}" method="POST">
                                        {% csrf_token %}
                                        {{ comment_form|crispy }}
                                        {#                                        <div class="form-group">#}
                                        {#                                            <label for="message">Your Review *</label>#}
                                        {#                                            <textarea id="message" cols="30" rows="5" class="form-control"></textarea>#}
                                        {#                                        </div>#}
                                        {#                                        <div class="form-group">#}
                                        {#                                            <label for="name">Your Name *</label>#}
                                        {#                                            <input type="text" class="form-control" id="name">#}
                                        {#                                        </div>#}
                                        {#                                        <div class="form-group">#}
                                        {#                                            <label for="email">Your Email *</label>#}
                                        {#                                            <input type="email" class="form-control" id="email">#}
                                        {#                                        </div>#}
                                        <div class="form-group mb-0">
                                            <input type="submit" value="{% trans 'Leave Your Review' %}"
                                                   class="btn btn-primary px-3">
                                        </div>
                                    </form>
                                {% else %}
                                    <a href="{% url 'account_login' %}" class="nav-item nav-link">ورود</a>
                                    <a href="{% url 'account_signup' %}" class="nav-item nav-link">ثبت نام</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->
{% endblock content %}